:root {
    --main-color: #0097CF;
    --heading-font: 'Titan One', cursive;
    --default-font: 'Montserrat', sans-serif;
}

body {
    background-color: #EBEBEB;
    font-family: var(--default-font);

}

h1, h2, h3, h4, h5 {
    font-family: var(--heading-font);
}

.navbar-font {
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--default-font);
    font-weight: 600;
}

.anaglyph {
    text-shadow: red 0 0 rgba(255, 255, 255, 0.0), cyan 0 0 rgba(255, 255, 255, 0.0); 
    transition: text-shadow 200ms;
}

.anaglyph:hover {
    text-shadow: red -2px 0, cyan 2px 0;
}

.hero {
    background-color: #EBEBEB;
    font-family: var(--default-font);
}

.hero-img {
    max-width: 700px;
    min-width: 300px;
    width: 100%;
}

.hero-text {
    max-width: 600px;
    font-size: 20px;
    font-weight: 600;
    padding: 30px 20px 50px 20px;
}

.certificate-img {
  max-width: 150px;
  padding-bottom: 40px;
}

.side-size {
 min-width: 150px;
}

.upwork-img {
  max-width: 40px;
}

.non-rectangular {
    padding-bottom: 25px;
    clip-path:
        polygon(
        0% 0%,
        100% 0%,
        100% calc(100% - 25px),
        0% 100%
        );
}

.container-fluid {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
}


.carousel-width {
 max-width: 1200px;
    margin-left: 20px;
    margin-right: 20px;
}

.service-block {
    max-width: 560px;
    min-width: 200px;
    width: 100%;
    margin: 20px;
padding: 40px 0;
background-image: url(/img/Services_1.jpg);
background-size: cover;

}

.servise-list {
    list-style-type: none;
    padding-left: 0px;
}

.service-main {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.interests {
      max-width: 300px;
}

.hello-text {
   color: var(--main-color); 
       font-weight: 700;  
}

.submit-buttons {
    background-color: var(--main-color);
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.icons-footer {
  font-size: 24px;
  color: var(--main-color);
    padding: 20px 0 20px 0;
}